.control-panel{
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: #888888;
    border-top: 1px solid #E6E6E6;
    box-sizing: border-box;
    font-size: 14px;
}

.control-panel__item{
    padding: 0px 15px 0px 15px;
    align-self: center;
}

.item-clear{
    border: none;
    background-color: white;
    font-size: 14px;
    color: #888888;
    font-family: "Roboto", sans-serif;
}