@import "values.styl"

html,
body
  display: flex
  flex-flow: column
  align-items: center
  background-color: rgba(0, 0, 0, 0.0015)
  color: $color.grayish_four
  font-family: $font_family

.main-todo-app
  font-size: $font_size.big

