$font_size = {
  small: 14 px,
  normal : 24px,
  big: 120px
}

$background_color = {
  item: white,
  item_hover : $color.grayish_one
}

$color = {
  green : #5DC2AF,
  gray_one : #888888,
  gray_two : #666666,
  grayish_one : #FAFAFA,
  grayish_two : #F5F5F5,
  grayish_three : #E6E6E6,
  grayish_four : #CCCCCC
}

$border_color = {
  item: $color.grayish_three,
  normal: $color.grayish_four,
  checkbox: $color.green
}

$text_color = {
  control_panel: $colors.gray_1,
  item: $colors.gray_2,
  header: $colors.light_gray_4,
  checked: $colors.light_gray_4,
}

$font_family = "Roboto", sans-serif;
